@using ASP.NET.Demo.ViewModels
@model AssignUserRoleViewModel

@{
    ViewData["Title"] = "Assign role";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="AssignUserRole" method="post">
                <h4>@Model.UserName</h4>
                <hr />
                @Html.HiddenFor(m => Model.UserName);
                @for (var i = 0; i < Model.UserRoles.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(m => Model.UserRoles[i].RoleName)
                        <td>@Model.UserRoles[i].RoleName</td>
                        <td>
                            @Html.CheckBoxFor(m => Model.UserRoles[i].IsAssigned)
                        </td>
                    </tr>
                }
                <button type="submit" class="btn btn-default">Assign</button>
            </form>
        </section>
    </div>



</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
